# Asignment 1 - 4IZ566 - Programming for data science
## Coverage of this assignment
First assigment is to get you familiar with Jupyter Notebook interface and Python Basics.

## Cell types in Jupyter notebook
- Code - Runnable code
- Markdown - Text usually to comment the code
- Raw NBcontent - For HTML, Latex or other data formats
- Heading - does not exist anymore - it will switch you to Markdown cell

## First Code Cell
Create code cell beneath this cell and input number 4. Then Run the Cell.

Hint: Use Insert menu item.

In [35]:
4

4

 ## Calculations
 In each of 2 next cells calculate numbers based on the comment.

In [36]:
# first_arithmetics = 4 minus 267 865 448 plus 534 403. Use underscore between each thousand in large numbers e.g.: 444_158
first_arithmetics = 4 - 267_865_448 + 534_403
first_arithmetics

-267331041

In [37]:
# log_calculation = log10((4 plus 4) divided by 5). Log10 is in math function.
import math
log_calculation = math.log10((4 + 4) / 5)
log_calculation

0.20411998265592482

 ## Variable usage
In each of next 6 cells create specified data structure and assign to specified variable.

In [38]:
# Assign a integer 4 to variable called number4.
number4 = 4
number4

4

In [39]:
# Assign a float 4.5 to variable float45.
float45 = 4.5
float45

4.5

In [40]:
# Assign a tuple consisted of number 0,1,2,3,4,5 to a variable small_tuple.
small_tuple = (0, 1, 2, 3, 4, 5)
small_tuple

(0, 1, 2, 3, 4, 5)

In [41]:
# Assign a list consisted of these variables: number4, float45, small_tuple to a variable called list_for_all
list_for_all = [number4, float45, small_tuple]
list_for_all

[4, 4.5, (0, 1, 2, 3, 4, 5)]

In [42]:
# Assign a list consisted of 1000 random numbers called random_1000. Use random library to get that.
import random
random_1000 = []
for i in range(1000):
    random_1000.append(random.randrange(0, 1000))
random_1000

[795,
 924,
 815,
 467,
 147,
 193,
 940,
 252,
 966,
 1,
 156,
 698,
 936,
 400,
 328,
 386,
 956,
 926,
 250,
 927,
 583,
 862,
 135,
 987,
 263,
 682,
 282,
 682,
 779,
 148,
 611,
 611,
 730,
 294,
 222,
 214,
 722,
 654,
 364,
 719,
 841,
 269,
 559,
 274,
 132,
 64,
 934,
 779,
 437,
 596,
 306,
 949,
 591,
 424,
 625,
 238,
 625,
 667,
 268,
 932,
 80,
 99,
 874,
 748,
 34,
 135,
 330,
 191,
 183,
 518,
 136,
 908,
 220,
 825,
 750,
 776,
 995,
 476,
 558,
 683,
 548,
 470,
 871,
 318,
 590,
 52,
 855,
 78,
 725,
 471,
 557,
 908,
 767,
 662,
 221,
 391,
 920,
 590,
 233,
 288,
 169,
 628,
 641,
 886,
 491,
 314,
 142,
 27,
 519,
 778,
 627,
 153,
 716,
 173,
 478,
 4,
 252,
 386,
 450,
 957,
 714,
 393,
 278,
 662,
 972,
 879,
 710,
 298,
 774,
 876,
 32,
 586,
 797,
 578,
 425,
 611,
 248,
 169,
 150,
 315,
 220,
 584,
 546,
 558,
 761,
 412,
 950,
 743,
 170,
 54,
 914,
 236,
 599,
 464,
 984,
 709,
 668,
 80,
 751,
 649,
 314,
 881,
 280,
 926,
 149,
 461,
 812,
 875,
 312,
 890,
 64,
 236,
 554,
 188,
 517,
 471,
 213,
 624,
 617,
 808,
 941,
 114,
 389,
 89,
 432,
 416,
 140,
 808,
 942,
 727,
 104,
 774,
 584,
 208,
 447,
 296,
 700,
 380,
 93,
 729,
 736,
 578,
 355,
 5,
 915,
 111,
 864,
 527,
 116,
 960,
 940,
 747,
 189,
 664,
 26,
 152,
 11,
 827,
 120,
 476,
 242,
 415,
 105,
 428,
 249,
 927,
 294,
 713,
 450,
 207,
 615,
 705,
 426,
 802,
 236,
 133,
 974,
 515,
 563,
 985,
 167,
 980,
 210,
 453,
 3,
 403,
 636,
 629,
 948,
 930,
 73,
 478,
 914,
 163,
 580,
 360,
 520,
 721,
 984,
 89,
 35,
 708,
 361,
 499,
 601,
 888,
 496,
 205,
 448,
 714,
 469,
 869,
 609,
 730,
 785,
 181,
 541,
 199,
 154,
 160,
 122,
 199,
 344,
 675,
 41,
 977,
 126,
 177,
 61,
 32,
 632,
 762,
 429,
 590,
 308,
 740,
 988,
 197,
 549,
 163,
 553,
 147,
 911,
 21,
 458,
 95,
 827,
 986,
 321,
 535,
 698,
 976,
 328,
 577,
 650,
 592,
 271,
 80,
 157,
 727,
 891,
 917,
 72,
 398,
 965,
 829,
 498,
 869,
 894,
 764,
 728,
 813,
 87,
 558,
 542,
 270,
 132,
 293,
 556,
 248,
 498,
 320,
 526,
 338,
 308,
 204,
 175,
 45,
 710,
 735,
 347,
 685,
 985,
 582,
 438,
 530,
 285,
 835,
 939,
 920,
 347,
 97,
 883,
 219,
 124,
 186,
 811,
 790,
 473,
 665,
 207,
 760,
 898,
 386,
 262,
 675,
 78,
 263,
 555,
 198,
 52,
 419,
 965,
 759,
 474,
 389,
 477,
 672,
 638,
 165,
 534,
 727,
 665,
 676,
 740,
 741,
 725,
 875,
 232,
 257,
 325,
 521,
 633,
 141,
 924,
 771,
 11,
 157,
 469,
 345,
 154,
 789,
 861,
 186,
 195,
 737,
 885,
 584,
 677,
 404,
 716,
 404,
 990,
 10,
 433,
 105,
 143,
 303,
 780,
 404,
 54,
 0,
 765,
 575,
 7,
 86,
 428,
 681,
 161,
 47,
 290,
 162,
 236,
 799,
 56,
 37,
 397,
 678,
 948,
 58,
 837,
 648,
 106,
 378,
 233,
 867,
 547,
 142,
 998,
 364,
 42,
 247,
 412,
 919,
 913,
 651,
 172,
 138,
 253,
 186,
 946,
 438,
 396,
 949,
 283,
 485,
 667,
 563,
 244,
 104,
 631,
 30,
 864,
 444,
 348,
 167,
 569,
 86,
 872,
 529,
 372,
 448,
 437,
 29,
 90,
 695,
 26,
 220,
 483,
 968,
 565,
 296,
 888,
 700,
 893,
 81,
 600,
 177,
 715,
 822,
 600,
 418,
 664,
 224,
 745,
 983,
 866,
 463,
 584,
 709,
 459,
 704,
 964,
 90,
 494,
 987,
 484,
 702,
 849,
 909,
 903,
 39,
 487,
 840,
 942,
 298,
 591,
 184,
 155,
 620,
 383,
 147,
 783,
 803,
 5,
 866,
 295,
 732,
 362,
 809,
 347,
 759,
 902,
 445,
 396,
 276,
 512,
 321,
 275,
 124,
 31,
 897,
 616,
 650,
 151,
 364,
 610,
 550,
 345,
 235,
 520,
 717,
 748,
 21,
 239,
 105,
 200,
 399,
 431,
 994,
 478,
 657,
 403,
 479,
 249,
 101,
 181,
 767,
 688,
 89,
 478,
 825,
 949,
 778,
 194,
 368,
 447,
 181,
 916,
 461,
 636,
 32,
 196,
 824,
 589,
 922,
 207,
 483,
 708,
 953,
 62,
 287,
 617,
 866,
 900,
 641,
 370,
 4,
 947,
 909,
 276,
 281,
 89,
 285,
 25,
 735,
 564,
 386,
 280,
 91,
 729,
 825,
 171,
 627,
 576,
 536,
 584,
 607,
 957,
 375,
 785,
 599,
 75,
 252,
 421,
 91,
 767,
 186,
 683,
 385,
 335,
 794,
 719,
 717,
 760,
 947,
 279,
 307,
 985,
 102,
 523,
 45,
 602,
 558,
 589,
 915,
 371,
 414,
 362,
 476,
 957,
 259,
 890,
 877,
 307,
 525,
 86,
 543,
 596,
 368,
 679,
 319,
 208,
 739,
 36,
 733,
 128,
 472,
 225,
 959,
 476,
 69,
 927,
 486,
 596,
 361,
 123,
 833,
 206,
 154,
 669,
 525,
 619,
 323,
 910,
 219,
 109,
 198,
 109,
 928,
 518,
 843,
 244,
 526,
 202,
 311,
 48,
 935,
 21,
 390,
 896,
 52,
 756,
 437,
 273,
 26,
 171,
 292,
 865,
 272,
 49,
 914,
 529,
 284,
 345,
 376,
 937,
 836,
 918,
 101,
 946,
 754,
 241,
 38,
 867,
 533,
 810,
 855,
 248,
 790,
 171,
 587,
 332,
 242,
 19,
 184,
 683,
 140,
 3,
 950,
 22,
 387,
 851,
 98,
 612,
 938,
 289,
 965,
 520,
 398,
 38,
 58,
 661,
 622,
 15,
 903,
 393,
 234,
 908,
 570,
 625,
 21,
 271,
 545,
 348,
 393,
 828,
 751,
 149,
 801,
 454,
 915,
 803,
 560,
 309,
 206,
 582,
 243,
 496,
 766,
 187,
 868,
 879,
 863,
 976,
 56,
 583,
 161,
 95,
 469,
 808,
 773,
 854,
 944,
 234,
 869,
 831,
 587,
 461,
 938,
 339,
 195,
 925,
 671,
 394,
 593,
 448,
 637,
 948,
 200,
 431,
 647,
 790,
 830,
 321,
 794,
 741,
 266,
 92,
 352,
 142,
 838,
 830,
 291,
 312,
 448,
 891,
 216,
 947,
 393,
 913,
 468,
 637,
 314,
 671,
 514,
 312,
 635,
 564,
 630,
 296,
 315,
 119,
 339,
 220,
 457,
 271,
 40,
 114,
 786,
 363,
 631,
 919,
 941,
 435,
 819,
 264,
 889,
 825,
 768,
 908,
 649,
 268,
 735,
 484,
 253,
 368,
 509,
 962,
 990,
 403,
 107,
 241,
 809,
 605,
 484,
 350,
 469,
 416,
 942,
 710,
 447,
 267,
 966,
 561,
 508,
 163,
 82,
 594,
 116,
 556,
 85,
 100,
 477,
 473,
 986,
 218,
 196,
 762,
 166,
 335,
 853,
 366,
 443,
 122,
 873,
 896,
 866,
 983,
 881,
 717,
 449,
 397,
 386,
 212,
 511,
 41,
 257,
 471,
 104,
 537,
 976,
 108,
 695,
 902,
 413,
 367,
 597,
 230,
 739,
 737,
 322,
 109,
 613,
 964,
 740,
 145,
 91,
 755,
 420,
 680,
 416,
 182,
 769,
 716,
 288,
 580,
 600,
 694,
 220,
 848,
 631,
 205,
 122,
 736,
 405,
 617,
 476,
 761,
 827,
 438,
 891,
 353,
 235,
 463,
 773,
 794,
 598,
 502,
 142,
 267,
 602,
 496,
 720,
 298,
 381,
 480,
 953,
 541,
 837]

In [43]:
# Assign a dictionary with your curriculum for this semester to a variable called curriculum. Use code of your course as a key and a name of course as value. It can take a while. You cannot use dict constructor because codes starts with number, you have to these brackets {}.
curriculum = {"4IT555" : "Competitive and Business Intelligence",
             "4IZ565": "Data Science in Python and R",
             "4SA615": "Information Management",
             "4IT525": "Information Modelling of Organizations I",
             "4IZ451": "Knowledge Discovery in Databases",
             "4IT528": "Management of Enterprise IT",
             "4SA553": "Modern Change Management"}
curriculum

{'4IT555': 'Competitive and Business Intelligence',
 '4IZ565': 'Data Science in Python and R',
 '4SA615': 'Information Management',
 '4IT525': 'Information Modelling of Organizations I',
 '4IZ451': 'Knowledge Discovery in Databases',
 '4IT528': 'Management of Enterprise IT',
 '4SA553': 'Modern Change Management'}

 ## Work with lists
In each of next 7 cells you will have to perform operations with lists.

In [44]:
# Create list with numbers from 0 to 99 and assign it to a variable called first100.
# Range(100) will not create you a list. You have to convert it to list using list constructor or use square brackets.
first100 = list(range(100))
first100

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [45]:
# Assign len of the first100 list to a variable called len_of_list
len_of_list = len(first100)
len_of_list

100

In [46]:
# Assign first item of the first100 list to a variable called first_item
first_item = first100[0]
first_item

0

In [47]:
# Assign a last item of the first100 list to a variable called last_item. Use negative index.
last_item = first100[-1]
last_item

99

In [48]:
# Assign odd numbers of the first100 list to a variable called odd_numbers. Use slicing.
odd_numbers = first100[1::2]
odd_numbers

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [49]:
# Assign even numbers of the first100 list to a variable called even_numbers. Use slicing.
even_numbers = first100[::2]
even_numbers

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

In [50]:
# Assign reversed list of the first100 list to a variable called reversed_first100. You have to use slicing operator.
reversed_first100 = first100[::-1]
reversed_first100

[99,
 98,
 97,
 96,
 95,
 94,
 93,
 92,
 91,
 90,
 89,
 88,
 87,
 86,
 85,
 84,
 83,
 82,
 81,
 80,
 79,
 78,
 77,
 76,
 75,
 74,
 73,
 72,
 71,
 70,
 69,
 68,
 67,
 66,
 65,
 64,
 63,
 62,
 61,
 60,
 59,
 58,
 57,
 56,
 55,
 54,
 53,
 52,
 51,
 50,
 49,
 48,
 47,
 46,
 45,
 44,
 43,
 42,
 41,
 40,
 39,
 38,
 37,
 36,
 35,
 34,
 33,
 32,
 31,
 30,
 29,
 28,
 27,
 26,
 25,
 24,
 23,
 22,
 21,
 20,
 19,
 18,
 17,
 16,
 15,
 14,
 13,
 12,
 11,
 10,
 9,
 8,
 7,
 6,
 5,
 4,
 3,
 2,
 1,
 0]

 ## Work with tuples
In each of next 3 cells you will have to perform operations with tuples.

In [51]:
# Create a tuple with numbers from 0 to 99 and assign it to a variable called tuple_first100.
tuple_first100 = tuple(range(100))
tuple_first100

(0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99)

In [52]:
# Assign len of the tuple_first100 tuple to a variable called len_of_tuple.
len_of_tuple = len(tuple_first100)
len_of_tuple

100

In [53]:
# Assign a tuple with only one number to variable called tuple_of_length_1.
tuple_of_length_1 = (10,)
tuple_of_length_1

(10,)

 ## Loops
In each of next 2 cells you will have to perform operations with loops.

In [54]:
# From n_list get elements with modulo 0 and 2 when divided by 3 and store to modulo_02 in form of a list.
n_list = [2, 3, 6, 7, 8, 9, 10, 11, 17]
modulo_02 = []

for num in n_list:
    if (num % 3 == 0 or num % 3 == 2):
        modulo_02.append(num)
modulo_02

[2, 3, 6, 8, 9, 11, 17]

In [55]:
# Create list called fibonacci_75 with first 75 elements of Fibonacci sequence.
# You have here an algoritm that will print you first the 75 elements,
# but you need to store it to list, not only print.
n1 = 0
n2 = 1
count = 0
fibonacci_75 = [n1, n2]

while count < 75:
    nth = n1 + n2
    fibonacci_75.append(nth)
    n1 = n2
    n2 = nth
    count += 1
fibonacci_75

[0,
 1,
 1,
 2,
 3,
 5,
 8,
 13,
 21,
 34,
 55,
 89,
 144,
 233,
 377,
 610,
 987,
 1597,
 2584,
 4181,
 6765,
 10946,
 17711,
 28657,
 46368,
 75025,
 121393,
 196418,
 317811,
 514229,
 832040,
 1346269,
 2178309,
 3524578,
 5702887,
 9227465,
 14930352,
 24157817,
 39088169,
 63245986,
 102334155,
 165580141,
 267914296,
 433494437,
 701408733,
 1134903170,
 1836311903,
 2971215073,
 4807526976,
 7778742049,
 12586269025,
 20365011074,
 32951280099,
 53316291173,
 86267571272,
 139583862445,
 225851433717,
 365435296162,
 591286729879,
 956722026041,
 1548008755920,
 2504730781961,
 4052739537881,
 6557470319842,
 10610209857723,
 17167680177565,
 27777890035288,
 44945570212853,
 72723460248141,
 117669030460994,
 190392490709135,
 308061521170129,
 498454011879264,
 806515533049393,
 1304969544928657,
 2111485077978050,
 3416454622906707]

In [56]:
# Cell with hidden test - Calculations

In [57]:
# Cell with hidden test - Variable usage

In [58]:
# Cell with hidden test - Work with lists

In [59]:
# Cell with hidden test - Work with tuples

In [60]:
# Cell with hidden test - Loops